body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background:url('weather.jpg');
  background-size: cover;
  background-position: center;

}

.weather-container {
  width: 400px;
  height: 555px;
  position: relative;
  background:rgba(255, 255, 255, .1);
  background-filter:blur(40px);
  border: 2px solid rgba(255, 255,255, .1);
  border-radius: 16px;
  padding: 20px
  }
 
}

.search-container {
  position: relative;
  width: 100%
  height: 55px;
  background: transparent;
  display: flex;
  align-items: center;
}

.search-container input{
  width: 100%
  height: 100%
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
  font-size: 22px;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;


}

button {
 position:absolute;
  right: 0;
  width: 40px;
  height: 100%
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: black;
  padding: 0 40px 0 5px;
  margin-right:65px;
  cursor: pointer;
}

.search-container i{
  position: absolute;
  left: 10px;
  font-size: 28px;
  margin-left: 20px;
  color: black;
}

.weather-info {
  margin-top: 20px;
  align-items: center;
  display: inline-block;
  font-family: 20px;
  font-weight: 500;

}

.weather-icon{
  width: 200px;
  height: 200px;
  margin-left: 100px;

}
